[DEFAULT]
description = Everything including kitchen sink on trunk/develop

[./]
checkout = svn checkout https://hedgehog.fhcrc.org/tor/stedi/trunk .

[server/optionalModules/cds]
checkout = git clone http://www.github.com/LabKey/cds.git --branch develop

[server/optionalModules/workflow]
checkout = git clone http://www.github.com/LabKey/workflow.git --branch develop

[server/optionalModules/scrumtime]
checkout = git clone http://www.github.com/LabKey/scrumtime.git --branch develop

[server/optionalModules/biologics]
checkout = git clone http://www.github.com/LabKey/biologics.git --branch develop

[server/optionalModules/argos]
checkout = git clone http://www.github.com/LabKey/argos.git --branch develop

[server/optionalModules/labkey-api-python]
checkout = git clone http://www.github.com/LabKey/labkey-api-python.git --branch master 

[server/optionalModules/clients]
checkout = git clone http://www.github.com/LabKey/clients.git --branch master

[server/optionalModules/redcap]
checkout = git clone http://www.github.com/labkey/redcap.git --branch develop

[server/optionalModules/freezerpro]
checkout = git clone http://www.github.com/labkey/freezerpro.git --branch develop

[server/optionalModules/cloud]
checkout = git clone http://www.github.com/labkey/cloud.git --branch develop

[server/optionalModules/nlp]
checkout = git clone http://www.github.com/labkey/nlp.git --branch develop

[server/optionalModules/argos_nlp]
checkout = git clone http://www.github.com/labkey/argos_nlp.git --branch master

[server/optionalModules/HPLC]
checkout = git clone http://www.github.com/labkey/HPLC.git --branch develop

[server/optionalModules/premium]
checkout = git clone http://www.github.com/labkey/premium.git --branch develop

[server/optionalModules/argos_test]
checkout = git clone http://www.github.com/labkey/argos_test.git --branch develop

