[DEFAULT]
description = Argos related/required modules

[server/optionalModules/argos]
checkout = git clone http://www.github.com/LabKey/argos.git --branch develop

[server/optionalModules/argos_test]
checkout = git clone http://www.github.com/LabKey/argos_test.git --branch develop 

[server/optionalModules/workflow]
checkout = git clone http://www.github.com/labkey/workflow.git --branch develop

[server/optionalModules/nlp]
checkout = git clone https://github.com/LabKey/nlp.git --branch develop
