[DEFAULT]
description = All authrization and SSO related modules

[server/optionalModules/saml]
checkout = git clone http://www.github.com/LabKey/saml.git --branch develop

[server/optionalModules/duo]
checkout = git clone http://www.github.com/LabKey/duo.git --branch develop 

[server/optionalModules/oauth]
checkout = git clone http://www.github.com/labkey/oauth.git --branch develop

[server/optionalModules/cas]
checkout = git clone https://github.com/LabKey/cas.git --branch develop
