[DEFAULT]
description = stabilization/hotfix branch for release15.3

[./]
checkout = svn checkout https://hedgehog.fhcrc.org/tor/stedi/branches/release15.3 .

[server/optionalModules/argos]
checkout = git clone http://www.github.com/LabKey/argos.git -b release15.3
branch   = release15.3

[server/optionalModules/argos_test]
checkout = git clone http://www.github.com/LabKey/argos_test.git -b release15.3
